<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
</head>
<body>

    <div align="center">
        <h1>View User</h1>
        <form action="/viewUser" method="POST">
            <table border="1">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Password</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    <% key.map((val) => { %>
                        <tr>
                            <td>
                                <%= val.id%>
                            </td>
                            <td>
                                <%= val.userName%>
                            </td>
                            <td>
                                <%= val.userEmail %>
                            </td>
                            <td>
                                <%= val.userPassword %>
                            </td>
                            <td>
                                <a href="/deleteUser?dId=<%= val.id %>">Delete</a> ||
                                <a href="/editUser?eId=<%= val.id %>">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </form>
        <a href="/">add</a>
    </div>
    
</body>
</html>